<html>
  <head>
    {% if title%}
      <title>{{ title }} - Megablog</title>
    {% else %}
      <title>Welcome to Megablog</title>
    {% endif %}
  </head>
  <body>
    <div>MegaBlog:
      <a href="{{ url_for('main.index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('auth.login') }}">Login</a>
      {% else %}
      <a href="{{ url_for("main.user", username=current_user.username) }}">Profile</a>
      <a href="{{ url_for('auth.logout')}}">Logout</a>
      {% endif%}
    <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}

    {% block content %}{% endblock content %}
  </body>
</html>
