{% extends 'base.html' %}

{% block content %}
  <div>
    <img src="{{user.avatar()}}" alt="avatar">
    <h1>User: {{user.username}}</h1>
      {% if user.about_me %}
        <p>{{user.about_me}}</p>
      {% endif %}
      {% if user.last_seen %}
        <p>Last seen on: {{user.last_seen}}</p>
      {% endif %}
      {% if user == current_user %}
        <p><a href="{{url_for("main.edit_profile")}}">Edit your profile</a></p>
      {% endif %}
  </div>
  <hr>
  {% for post in posts %}
    {% include "_post.html" %}
  {% endfor %}
{% endblock content %}